.banner {
  margin-bottom: 6rem;

  @include media(large){
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    padding: 0 4rem;
  }
}

.container-image-banner {
  width: 100%;
  padding: 1rem;

  @include media(large){
    padding: 0;
  }
   img {
    width: 100%;
    display: block;

    // @include media(large){
    //   width: 90%;
    // }
  }
}


.information-banner {
  text-align: center;

  @include media(large){
    text-align: start;
  }

   .title-banner {
    color: var(--Dark-Blue);
    font-weight: 700;
    font-size: 2rem;

    @include media(large){
      font-size: 3rem;
      width: 90%;
    }
  }

   .text-banner {
    padding: 0 2rem;
    font-size: .9rem;
    
    @include media(large){
      padding: 0;
      width: 50%;
      font-size: 1rem;
    }
  }
}

.btn-banner {
  @include media(large){
    width: max-content;
  }
}