:root {
  --bdr-radius: 5rem;
}

.primary-section {
  margin-bottom: 4rem;

  @include media(large){
    display: flex;
    padding: 0 4rem;
  }
}

.manage {
  text-align: center;
  margin-bottom: 3rem;

  @include media(large){
    text-align: start;
  }

   .title-manage {
    color: var(--Dark-Blue);
    font-weight: 700;
    font-size: 1.8rem;
    padding: 0 1rem;

    @include media(large){
      width: 85%;
      padding: 0;
    }
  }

   .text-manage {
    padding: 0 2rem;
    font-size: .8rem;
    
    @include media(large){
      padding: 0;
      width: 60%;
    }
    
  }
}

.differences {
  margin: 0 0 0 1rem;

    
  .difference {
  position: relative;
  margin-bottom: 2rem;

  @include media(large){
    width: 80%;
    margin: auto;

  }

     .number {
      font-size: .8rem;
      background: var(--Bright-Red);
      color: var(--White);
      padding: .2rem 1rem .3rem 1rem;
      border-radius: var(--bdr-radius);
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
    }
     .difference-title {
      font-size: .9rem;
      color: var(--Dark-Blue);
      background: var(--Bright-Orange);
      width: 100%;
      margin-bottom: 0;
      padding-left: 4rem;
      border-top-left-radius: var(--bdr-radius);
      border-bottom-left-radius: var(--bdr-radius);
      padding-bottom: .2rem;

      @include media(large){
        background: none;
      }
    }

     .difference-text {
      font-size: .8rem;
    }
  }
}
