.second-section {
   overflow: hidden;

}

.opinions-title {
  text-align: center;
  color: var(--Dark-Blue);
  font-weight: 700;
  font-size: 1.4rem;
}

.container-opinions {
  display: flex;
  width: max-content;

  @include media(large){
    width: 100%;
  }
}

.container-opinion {
  width: calc(100vw - 16px);
  text-align: center;
  padding: 0 2rem;
  

   .container-avatar {
     img {
      margin: auto;
      width: 30%;
      display: block;
    }
  }

  & .opinion-information {
     .name {
      color: var(--Dark-Blue);
      font-weight: 700;
    }
     .opinion {
      font-size: .8rem;
    }
  }
}

.feature {
  text-align: center;
  padding: 3rem 1rem;
  background: var(--Bright-Red);

  @include media(large){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 4rem;
    text-align: start;
    
  }

  &-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--White);

    @include media(large){
      width: 60%;
      font-size: 2rem;
    }
  
  }
}

.btn-feature {
  @include media(large){
    justify-content: flex-end;
  }
}

