:root {
--Bright-Orange: hsl(13, 56%, 94%);
--Bright-Red: hsl(12, 88%, 59%);
--Dark-Blue: hsl(228, 39%, 23%);
--Dark-Grayish-Blue: hsl(227, 12%, 61%);
--Very-Dark-Blue: hsl(233, 12%, 13%);
--Very-Pale-Red: hsl(13, 100%, 96%);
--Vary-Light-Gray: hsl(0, 0%, 98%);
--White : #fff;
}

$max-width: 100%;
$height-header-responsive: 6rem;
$height: 5rem;

$breakpoints: (
    small: 360px,
    medium: 640px,
    large: 960px,
    xlarge: 1024px
);

/* Posicionamiento de los componentes */

:root {
    --z-back     : -10 ;
    --z-normal   : 1 ;
    --z-tooltip  : 10 ;
    --z-fixed    : 100 ;
    --z-modal    : 1000 ;
}